<%- model_class = Plant -%>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#cyxzzb" data-toggle="tab">常用选种指标</a></li>
    <li><a href="#zxfwql" data-toggle="tab">正向服务潜力排序</a></li>
    <li><a href="#syxzb" data-toggle="tab">适应性指标</a></li>
    <li><a href="#ffw" data-toggle="tab">负服务</a></li>
    <li><a href="#fzzb" data-toggle="tab">辅助指标</a></li>
  </ul>
    
  <div class="tab-content">
    <div class="tab-pane active" id="cyxzzb">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:zw) %></th>
            <th><%= model_class.human_attribute_name(:ldm) %></th>
            <th><%= model_class.human_attribute_name(:cdxzzb) %></th>
            <th><%= model_class.human_attribute_name(:cl) %></th>
            <th><%= model_class.human_attribute_name(:xzd) %></th>
            <th><%= model_class.human_attribute_name(:zygsbw) %></th>
            <th><%= model_class.human_attribute_name(:sd) %></th>
            <th><%= model_class.human_attribute_name(:flsgsq) %></th>
            <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
          </tr>
        </thead>
        <tbody>
          <% @plants.each do |plant| %>
          <tr>
            <td><%= plant.zw %></td>
            <td><%= plant.ldm %></td>
            <td><%= plant.cdxzzb %></td>
            <td><%= plant.cl %></td>
            <td><%= plant.xzd %></td>
            <td><%= plant.zygsbw %></td>
            <td><%= plant.sd %></td>
            <td><%= plant.flsgsq %></td>
            <!-- <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_plant_path(plant), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              plant_path(plant),
              :method => :delete,
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-mini btn-danger' %>
            </td> -->
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="zxfwql">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:zw) %></th>
            <th><%= sort_link @search, :zhstfwqlpx, {}, :remote => true %></th>
            <th><%= sort_link @search, :jwzs, {}, :remote => true %></th>
            <th><%= sort_link @search, :gtsy, {}, :remote => true %></th>
            <th><%= sort_link @search, :zc, {}, :remote => true %></th>
            <th><%= model_class.human_attribute_name(:hjwr) %></th>
            <th><%= sort_link @search, :bctr, {}, :remote => true %></th>
          </tr>
        </thead>
        <tbody>
          <% @plants.each do |plant| %>
          <tr>
            <td><%= plant.zw %></td>
            <td><%= plant.zhstfwqlpx %></td>
            <td><%= plant.jwzs %></td>
            <td><%= plant.gtsy %></td>
            <td><%= plant.zc %></td>
            <td><%= plant.hjwr %></td>
            <td><%= plant.bctr %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="syxzb">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:zw) %></th>
            <th><%= model_class.human_attribute_name(:yzxx) %></th>
            <th><%= model_class.human_attribute_name(:gsydj) %></th>
            <th><%= model_class.human_attribute_name(:trsfsyxdj) %></th>
            <th><%= model_class.human_attribute_name(:phmin) %></th>
            <th><%= model_class.human_attribute_name(:phmax) %></th>
            <th><%= model_class.human_attribute_name(:apmin) %></th>
            <th><%= model_class.human_attribute_name(:apmax) %></th>
            <th><%= model_class.human_attribute_name(:akmin) %></th>
            <th><%= model_class.human_attribute_name(:akmax) %></th>
            <th><%= model_class.human_attribute_name(:tnmin) %></th>
            <th><%= model_class.human_attribute_name(:tnmax) %></th>
            <th><%= model_class.human_attribute_name(:socmin) %></th>
            <th><%= model_class.human_attribute_name(:socmax) %></th>
            <th><%= model_class.human_attribute_name(:sbdmin) %></th>
            <th><%= model_class.human_attribute_name(:sbdmax) %></th>
          </tr>
        </thead>
        <tbody>
          <% @plants.each do |plant| %>
          <tr>
            <td><%= plant.zw %></td>
            <td><%= plant.yzxx %></td>
            <td><%= plant.gsydj %></td>
            <td><%= plant.trsfsyxdj %></td>
            <td><%= plant.phmin %></td>
            <td><%= plant.phmax %></td>
            <td><%= plant.apmin %></td>
            <td><%= plant.apmax %></td>
            <td><%= plant.akmin %></td>
            <td><%= plant.akmax %></td>
            <td><%= plant.tnmin %></td>
            <td><%= plant.tnmax %></td>
            <td><%= plant.socmin %></td>
            <td><%= plant.socmax %></td>
            <td><%= plant.sbdmin %></td>
            <td><%= plant.sbdmax %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="ffw">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:zw) %></th>
            <th><%= model_class.human_attribute_name(:sfjdx) %></th>
            <th><%= model_class.human_attribute_name(:sfjhfzmx) %></th>
            <th><%= model_class.human_attribute_name(:sfjc) %></th>
          </tr>
        </thead>
        <tbody>
          <% @plants.each do |plant| %>
          <tr>
            <td><%= plant.zw %></td>
            <td><%= plant.sfjdx %></td>
            <td><%= plant.sfjhfzmx %></td>
            <td><%= plant.sfjc %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="fzzb">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:zw) %></th>
            <th><%= model_class.human_attribute_name(:ke) %></th>
            <th><%= model_class.human_attribute_name(:shu) %></th>
            <th><%= model_class.human_attribute_name(:bjzwzym) %></th>
            <th><%= model_class.human_attribute_name(:zysj) %></th>
            <th><%= model_class.human_attribute_name(:gss) %></th>
            <th><%= model_class.human_attribute_name(:yjlyqy) %></th>
            <th><%= model_class.human_attribute_name(:kdzg) %></th>
            <th><%= model_class.human_attribute_name(:zysq) %></th>
          </tr>
        </thead>
        <tbody>
          <% @plants.each do |plant| %>
          <tr>
            <td><%= plant.zw %></td>
            <td><%= plant.ke %></td>
            <td><%= plant.shu %></td>
            <td><%= plant.bjzwzym %></td>
            <td><%= plant.zysj %></td>
            <td><%= plant.gss %></td>
            <td><%= plant.yjlyqy %></td>
            <td><%= plant.kdzg %></td>
            <td><%= plant.zysq %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>      
</div>
<%= paginate @plants, :left => 1, :right => 1, :remote => true %>