<div id="wrapper">
<div class="container">
  <%- model_class = Plant -%>
  <!-- <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div> -->
  
  <h3 class="title-divider">
    <span>植物查询系统</span>
  </h3>

  
  <%= simple_form_for @search, :url => search_url, :method => 'post', :remote => true do |f| %>
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :zw_contains %>
    </div>
    <div class="span4">
    <%= f.input :ldm_contains %>
    </div>
  </div>
  
  <legend>常用选种指标</legend>
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :cdxzzb_equals, :collection => Plant.select(:cdxzzb).where("cdxzzb != ''").uniq, :value_method => :cdxzzb, :label_method => :cdxzzb, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :cl_equals, :collection => Plant.select(:cl).where("cl != ''").uniq, :value_method => :cl, :label_method => :cl, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :sd_equals, :collection => Plant.select(:sd).where("sd != ''").uniq, :value_method => :sd, :label_method => :sd, :include_blank => '全部' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :xzd_equals, :collection => Plant.select(:xzd).where("xzd != ''").uniq, :value_method => :xzd, :label_method => :xzd, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :kdzg_equals, :collection => Plant.select(:kdzg).where("kdzg != ''").uniq, :value_method => :kdzg, :label_method => :kdzg, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :flsgsqs_month_equals, :collection => Plant.flsgsq_lists, :include_blank => '全部' %>
    </div>
  </div>
  
  <legend>服务性指标</legend>
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :zhstfwqlpx_range, :collection => Plant.zhstfwqlpx_lists, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :jwzs_equals, :collection => Plant.select(:jwzs).where("jwzs != ''").uniq, :value_method => :jwzs, :label_method => :jwzs, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :gtsy_equals, :collection => Plant.select(:gtsy).where("gtsy != ''").uniq, :value_method => :gtsy, :label_method => :gtsy, :include_blank => '全部' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :zc_range, :collection => Plant.zc_lists, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :hjwr_equals, :collection => Plant.select(:hjwr).where("hjwr != ''").uniq, :value_method => :hjwr, :label_method => :hjwr, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :bctr_equals, :collection => Plant.select(:bctr).where("bctr != ''").uniq, :value_method => :bctr, :label_method => :bctr, :include_blank => '全部' %>
    </div>
  </div>
  
  <legend>适应性指标</legend>
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :yzxx_equals, :collection => Plant.select(:yzxx).where("yzxx != ''").uniq, :value_method => :yzxx, :label_method => :yzxx, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :gsydjs_level_equals, :collection => Plant.gsydj_lists, :include_blank => '全部' %>
    </div>
    <div class="span4">
    <%= f.input :trsfsyxdjs_level_equals, :collection => Plant.trsfsyxdj_lists, :include_blank => '全部' %>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :ak_between %>
    </div>
    <div class="span4">
    <%= f.input :ap_between %>
    </div>
    <div class="span4">
    <%= f.input :soc_between %>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :tn_between %>
    </div>
    <div class="span4">
    <%= f.input :ph_between %>
    </div>
    <div class="span4">
    <%= f.input :sbd_between %>
    </div>
  </div>
  
  <legend>是否需排除</legend>
  <div class="row-fluid">
    <div class="span4">
    <%= f.input :sfjdx_equals, :collection=>[['是','有毒'],['否','']], :as=>"radio_buttons", :item_wrapper_class => 'inline', :checked => '有毒' %>
    </div>
    <div class="span4">
    <%= f.input :sfjhfzmx_equals, :collection=>[['是',1],['否','']], :as=>"radio_buttons", :item_wrapper_class => 'inline' %>
    </div>
    <div class="span4">
    <%= f.input :sfjc_equals, :collection=>[['是',1],['否','']], :as=>"radio_buttons", :item_wrapper_class => 'inline' %>
    </div>
  </div>
  
    <!-- <div class="row-fluid">
    <%= f.input :ke_equals, :collection => Plant.select(:ke).where("ke != ''").uniq, :value_method => :ke, :include_blank => '全部' %>
    </div> -->
    <div id="search">
      <%= submit_tag "查询", :name => nil, :class => 'btn btn-success' %>
      <%= link_to "重置", reset_search_condition_path, :class => 'btn', :remote => true %>
    </div>
  <% end %>
  

  <div id="table_list"></div>




  <!-- <%= link_to t('.new', :default => t("helpers.links.new")),
  new_plant_path,
  :class => 'btn btn-primary' %> -->

</div>
</div>